* {
    box-sizing: border-box;
    text-align: left;
    margin: 0px;
}

body {
    background: #fafafa;
}

.jumbotron {
    margin-top: 10px;
    text-align: center;
    background: #2C70A6;
    color: white;
}

.padding-bottom-none {
    padding-bottom: 0px;
}

.padding-top-none {
    padding-top: 0px;
}
